In [1]:
# Import all dependencies
import numpy as np
import pandas as pd

In [2]:
# Read the train_identity.csv file
train_identity_df = pd.read_csv('datasets/train_identity.csv')
train_identity_df.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [3]:
# Read the train_transaction.csv file
train_transaction_df = pd.read_csv('datasets/train_transaction.csv')
train_transaction_df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Feature Engineering
## Questions
- What does feature engineering contribute to the training of the model?
- What are the different types of feature engineering?
  - Why should you do a specific type of feature engineering?
  - What does it benefit to the performance of the model?
  - When should you do specific types of feature engineering?

## Answers
This process is important because it ensures that garbage in, garbage out doesn't happen. Feature engineering allows us to significantly improve the model performance by refining features. There are various processes in feature engineering.

### Processes
1. Feature Creation - Create new features
   1. Domain-Specific: From industry knowledge like business rules
   2. Data-Driven: Derived from recognized patterns
   3. Synthetic: From combining existing features
2. Feature Transformation - Adjusts features
   1. Normalization & Scaling: Adjust the range of features for consistency
   2. Encoding: Convert categorical data to numerical data (i.e. one-hot encoding)
   3. Mathematical Transformations: Like logarithmic transformations for skewed data
3. Feature Extraction - To reduce dimensionality and simplify model
   1. Dimensionality Reduction: Reduce features while preserving important information (PCA technique)
   2. Aggregation & Combination: Summing/averaging features to simplify the model
4. Feature Selection - Choosing a subset of relevant features to use
   1. Filter methods: Based on statistical measures like correlation
   2. Wrapper methods: Select based on model performance (what?)
   3. Embedded methods: Feature selection integrated within model training (what? it's like not manual feature selection but learned feature selection)
5. Feature Scaling - Ensuring that all features contribute equally to the model
   1. Min-max scaling: Rescales values to a fixed range like 0 to 1
   2. Standard scaling: Normalizes to have a mean of 0 and variance of 1
      - Note: This is done across all features so that there is no bias towards features with inherently larger numerical values like comparing age to salary.

### Steps
1. Data Cleaning
   - Handling missing values (imputation | replace empty cells with mean, mode, or median values from other cells in the same column)
   - Find outliers and handle them
     - Replace with statistical number like max or min
     - Apply transformations to the feature like log or square root
     - Drop the outliers from the dataset
     - Note: What is the best approach for handling outliers in our use-case? I feel like we should keep them
2. Data Transformation
   - Encoding categorical variables
     - One-hot encoding: split up the feature into multiple columns like gender will be male and female
     - Label encoding: Assign a numerical value for each category label
     - Ordinal encoding: Assign numerical value based on the order of the category (if applicable)
     - Target encoding: If a category has multiple target values (what does this mean?), take the mean of the values and assign that to the category
3. Feature Extraction
4. Feature Selection
5. Feature Iteration

Sources:
- [GeekForGeeks - What is Feature Engineering](https://www.geeksforgeeks.org/machine-learning/what-is-feature-engineering/)
- [DataCamp - Feature Engineering in Machine Learning](https://www.datacamp.com/tutorial/feature-engineering)

In [4]:
# Print the first 20 for transactions
print(train_transaction_df.head(20))

    TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
0         2987000        0          86400          68.500         W  13926
1         2987001        0          86401          29.000         W   2755
2         2987002        0          86469          59.000         W   4663
3         2987003        0          86499          50.000         W  18132
4         2987004        0          86506          50.000         H   4497
5         2987005        0          86510          49.000         W   5937
6         2987006        0          86522         159.000         W  12308
7         2987007        0          86529         422.500         W  12695
8         2987008        0          86535          15.000         H   2803
9         2987009        0          86536         117.000         W  17399
10        2987010        0          86549          75.887         C  16496
11        2987011        0          86555          16.495         C   4461
12        2987012        0          86564          50.000         W   3786
13        2987013        0          86585          40.000         W  12866
14        2987014        0          86596          10.500         W  11839
15        2987015        0          86618          57.950         W   7055
16        2987016        0          86620          30.000         H   1790
17        2987017        0          86668         100.000         H  11492
18        2987018        0          86725          47.950         W   4663
19        2987019        0          86730         186.000         W   7005

    card2  card3       card4  card5  ... V330  V331  V332  V333  V334 V335  \
0     NaN  150.0    discover  142.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
1   404.0  150.0  mastercard  102.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
2   490.0  150.0        visa  166.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
3   567.0  150.0  mastercard  117.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
4   514.0  150.0  mastercard  102.0  ...  0.0   0.0   0.0   0.0   0.0  0.0
5   555.0  150.0        visa  226.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
6   360.0  150.0        visa  166.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
7   490.0  150.0        visa  226.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
8   100.0  150.0        visa  226.0  ...  0.0   0.0   0.0   0.0   0.0  0.0
9   111.0  150.0  mastercard  224.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
10  352.0  117.0  mastercard  134.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
11  375.0  185.0  mastercard  224.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
12  418.0  150.0        visa  226.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
13  303.0  150.0        visa  226.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
14  490.0  150.0        visa  226.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
15  555.0  150.0        visa  226.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
16  555.0  150.0        visa  226.0  ...  0.0   0.0   0.0   0.0   0.0  0.0
17  111.0  150.0  mastercard  219.0  ...  0.0   0.0   0.0   0.0   0.0  0.0
18  490.0  150.0        visa  166.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
19  111.0  150.0        visa  226.0  ...  NaN   NaN   NaN   NaN   NaN  NaN

   V336  V337  V338  V339
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN
4   0.0   0.0   0.0   0.0
5   NaN   NaN   NaN   NaN
6   NaN   NaN   NaN   NaN
7   NaN   NaN   NaN   NaN
8   0.0   0.0   0.0   0.0
9   NaN   NaN   NaN   NaN
10  NaN   NaN   NaN   NaN
11  NaN   NaN   NaN   NaN
12  NaN   NaN   NaN   NaN
13  NaN   NaN   NaN   NaN
14  NaN   NaN   NaN   NaN
15  NaN   NaN   NaN   NaN
16  0.0   0.0   0.0   0.0
17  0.0   0.0   0.0   0.0
18  NaN   NaN   NaN   NaN
19  NaN   NaN   NaN   NaN

[20 rows x 394 columns]

In [5]:
# Print the first 20 for identity
print(train_identity_df.head(20))

    TransactionID  id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  \
0         2987004    0.0   70787.0    NaN    NaN    NaN    NaN    NaN    NaN
1         2987008   -5.0   98945.0    NaN    NaN    0.0   -5.0    NaN    NaN
2         2987010   -5.0  191631.0    0.0    0.0    0.0    0.0    NaN    NaN
3         2987011   -5.0  221832.0    NaN    NaN    0.0   -6.0    NaN    NaN
4         2987016    0.0    7460.0    0.0    0.0    1.0    0.0    NaN    NaN
5         2987017   -5.0   61141.0    3.0    0.0    3.0    0.0    NaN    NaN
6         2987022  -15.0       NaN    NaN    NaN    NaN    NaN    NaN    NaN
7         2987038    0.0   31964.0    0.0    0.0    0.0  -10.0    NaN    NaN
8         2987040  -10.0  116098.0    0.0    0.0    0.0    0.0    NaN    NaN
9         2987048   -5.0  257037.0    NaN    NaN    0.0    0.0    NaN    NaN
10        2987049   -5.0  287959.0    NaN    NaN    1.0  -11.0    NaN    NaN
11        2987057    0.0   88525.0    NaN    NaN    NaN    NaN    NaN    NaN
12        2987066   -5.0   54927.0    0.0    0.0    0.0   -1.0    NaN    NaN
13        2987069    0.0   69542.0    0.0    0.0    2.0   -4.0    NaN    NaN
14        2987070    0.0  132356.0    NaN    NaN    1.0   -6.0    NaN    NaN
15        2987072    0.0  275611.0    NaN    NaN    0.0    0.0    NaN    NaN
16        2987074   -5.0  419136.0    NaN    NaN    0.0    0.0    NaN    NaN
17        2987084   -5.0  436352.0    NaN    NaN    0.0    0.0    NaN    NaN
18        2987093   -5.0   34810.0    NaN    NaN    1.0    0.0    NaN    NaN
19        2987099  -10.0  129080.0    0.0    0.0    9.0  -43.0   22.0  -34.0

    id_09  ...                    id_31  id_32      id_33           id_34  \
0     NaN  ...      samsung browser 6.2   32.0  2220x1080  match_status:2
1     NaN  ...       mobile safari 11.0   32.0   1334x750  match_status:1
2     0.0  ...              chrome 62.0    NaN        NaN             NaN
3     NaN  ...              chrome 62.0    NaN        NaN             NaN
4     0.0  ...              chrome 62.0   24.0   1280x800  match_status:2
5     3.0  ...              chrome 62.0   24.0   1366x768  match_status:2
6     NaN  ...                      NaN    NaN        NaN             NaN
7     0.0  ...              chrome 62.0   32.0  1920x1080  match_status:2
8     0.0  ...              chrome 62.0    NaN        NaN             NaN
9     NaN  ...              chrome 62.0    NaN        NaN             NaN
10    NaN  ...              chrome 62.0    NaN        NaN             NaN
11    NaN  ...  chrome 62.0 for android   32.0  1920x1080  match_status:2
12    0.0  ...              chrome 62.0   24.0  1680x1050  match_status:2
13    0.0  ...              chrome 62.0   32.0  1920x1080  match_status:2
14    NaN  ...       mobile safari 11.0   32.0   1136x640  match_status:1
15    NaN  ...  chrome 62.0 for android    NaN        NaN             NaN
16    NaN  ...              chrome 62.0    NaN        NaN             NaN
17    NaN  ...              chrome 62.0    NaN        NaN             NaN
18    0.0  ...                edge 15.0   24.0        NaN  match_status:2
19    0.0  ...    mobile safari generic   32.0   1334x750  match_status:2

    id_35 id_36 id_37  id_38  DeviceType                     DeviceInfo
0       T     F     T      T      mobile  SAMSUNG SM-G892A Build/NRD90M
1       T     F     F      T      mobile                     iOS Device
2       F     F     T      T     desktop                        Windows
3       F     F     T      T     desktop                            NaN
4       T     F     T      T     desktop                          MacOS
5       T     F     T      T     desktop                        Windows
6     NaN   NaN   NaN    NaN         NaN                            NaN
7       T     F     T      T      mobile                            NaN
8       F     F     T      T     desktop                        Windows
9       F     F     T      T     desktop                        Windows
10      F     F     T      T     desktop                        Windows
11      T     F     T      T      mobile          SM-G930V Build/NRD90M
12      T     F     T      T     desktop                        Windows
13      T     F     T      T     desktop                            NaN
14      T     F     T      T      mobile                     iOS Device
15      F     F     T      T      mobile        BLADE A602 Build/MRA58K
16      F     F     T      T     desktop                        Windows
17      F     F     T      T     desktop                        Windows
18      T     F     T      T     desktop                        Windows
19      T     F     T      F      mobile                     iOS Device

[20 rows x 41 columns]

In [6]:
# Exploring the datasets
# Find if there's repeating TransactionIds in train_transaction and train_identity
print(f"Number of unique TransactionIds in train_transaction: {train_transaction_df['TransactionID'].nunique()}")
print(f"Number of unique TransactionIds in train_identity: {train_identity_df['TransactionID'].nunique()}")
print(f"Total rows in train_transaction: {len(train_transaction_df)}")
print(f"Total rows in train_identity: {len(train_identity_df)}")

Number of unique TransactionIds in train_transaction: 590540
Number of unique TransactionIds in train_identity: 144233
Total rows in train_transaction: 590540
Total rows in train_identity: 144233

In [7]:
print(train_transaction_df['isFraud'].value_counts(normalize=True) * 100)

isFraud
0    96.500999
1     3.499001
Name: proportion, dtype: float64

# Dataset Exploration

[Kaggle discussion regarding dataset columns](https://www.kaggle.com/competitions/ieee-fraud-detection/discussion/101203)

In [8]:
train_df = pd.merge(train_transaction_df, train_identity_df, on='TransactionID', how='left')
print(train_df.shape)
print(train_df.head())

(590540, 434)
   TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
0        2987000        0          86400            68.5         W  13926
1        2987001        0          86401            29.0         W   2755
2        2987002        0          86469            59.0         W   4663
3        2987003        0          86499            50.0         W  18132
4        2987004        0          86506            50.0         H   4497

   card2  card3       card4  card5  ...                id_31  id_32  \
0    NaN  150.0    discover  142.0  ...                  NaN    NaN
1  404.0  150.0  mastercard  102.0  ...                  NaN    NaN
2  490.0  150.0        visa  166.0  ...                  NaN    NaN
3  567.0  150.0  mastercard  117.0  ...                  NaN    NaN
4  514.0  150.0  mastercard  102.0  ...  samsung browser 6.2   32.0

       id_33           id_34  id_35 id_36 id_37  id_38  DeviceType  \
0        NaN             NaN    NaN   NaN   NaN    NaN         NaN
1        NaN             NaN    NaN   NaN   NaN    NaN         NaN
2        NaN             NaN    NaN   NaN   NaN    NaN         NaN
3        NaN             NaN    NaN   NaN   NaN    NaN         NaN
4  2220x1080  match_status:2      T     F     T      T      mobile

                      DeviceInfo
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4  SAMSUNG SM-G892A Build/NRD90M

[5 rows x 434 columns]

In [9]:
for col in train_df.columns:
    unique_values = train_df[col].nunique()
    missing_values = train_df[col].isnull().sum()
    if missing_values > 0:
        print(f"Column: {col}, Unique Values: {unique_values}, Missing Values: {missing_values}")

Column: card2, Unique Values: 500, Missing Values: 8933
Column: card3, Unique Values: 114, Missing Values: 1565
Column: card4, Unique Values: 4, Missing Values: 1577
Column: card5, Unique Values: 119, Missing Values: 4259
Column: card6, Unique Values: 4, Missing Values: 1571
Column: addr1, Unique Values: 332, Missing Values: 65706
Column: addr2, Unique Values: 74, Missing Values: 65706
Column: dist1, Unique Values: 2651, Missing Values: 352271
Column: dist2, Unique Values: 1751, Missing Values: 552913
Column: P_emaildomain, Unique Values: 59, Missing Values: 94456
Column: R_emaildomain, Unique Values: 60, Missing Values: 453249
Column: D1, Unique Values: 641, Missing Values: 1269
Column: D2, Unique Values: 641, Missing Values: 280797
Column: D3, Unique Values: 649, Missing Values: 262878
Column: D4, Unique Values: 808, Missing Values: 168922
Column: D5, Unique Values: 688, Missing Values: 309841
Column: D6, Unique Values: 829, Missing Values: 517353
Column: D7, Unique Values: 597, Missing Values: 551623
Column: D8, Unique Values: 12353, Missing Values: 515614
Column: D9, Unique Values: 24, Missing Values: 515614
Column: D10, Unique Values: 818, Missing Values: 76022
Column: D11, Unique Values: 676, Missing Values: 279287
Column: D12, Unique Values: 635, Missing Values: 525823
Column: D13, Unique Values: 577, Missing Values: 528588
Column: D14, Unique Values: 802, Missing Values: 528353
Column: D15, Unique Values: 859, Missing Values: 89113
Column: M1, Unique Values: 2, Missing Values: 271100
Column: M2, Unique Values: 2, Missing Values: 271100
Column: M3, Unique Values: 2, Missing Values: 271100
Column: M4, Unique Values: 3, Missing Values: 281444
Column: M5, Unique Values: 2, Missing Values: 350482
Column: M6, Unique Values: 2, Missing Values: 169360
Column: M7, Unique Values: 2, Missing Values: 346265
Column: M8, Unique Values: 2, Missing Values: 346252
Column: M9, Unique Values: 2, Missing Values: 346252
Column: V1, Unique Values: 2, Missing Values: 279287
Column: V2, Unique Values: 9, Missing Values: 279287
Column: V3, Unique Values: 10, Missing Values: 279287
Column: V4, Unique Values: 7, Missing Values: 279287
Column: V5, Unique Values: 7, Missing Values: 279287
Column: V6, Unique Values: 10, Missing Values: 279287
Column: V7, Unique Values: 10, Missing Values: 279287
Column: V8, Unique Values: 9, Missing Values: 279287
Column: V9, Unique Values: 9, Missing Values: 279287
Column: V10, Unique Values: 5, Missing Values: 279287
Column: V11, Unique Values: 6, Missing Values: 279287
Column: V12, Unique Values: 4, Missing Values: 76073
Column: V13, Unique Values: 7, Missing Values: 76073
Column: V14, Unique Values: 2, Missing Values: 76073
Column: V15, Unique Values: 8, Missing Values: 76073
Column: V16, Unique Values: 15, Missing Values: 76073
Column: V17, Unique Values: 16, Missing Values: 76073
Column: V18, Unique Values: 16, Missing Values: 76073
Column: V19, Unique Values: 8, Missing Values: 76073
Column: V20, Unique Values: 15, Missing Values: 76073
Column: V21, Unique Values: 6, Missing Values: 76073
Column: V22, Unique Values: 9, Missing Values: 76073
Column: V23, Unique Values: 14, Missing Values: 76073
Column: V24, Unique Values: 14, Missing Values: 76073
Column: V25, Unique Values: 7, Missing Values: 76073
Column: V26, Unique Values: 13, Missing Values: 76073
Column: V27, Unique Values: 4, Missing Values: 76073
Column: V28, Unique Values: 4, Missing Values: 76073
Column: V29, Unique Values: 6, Missing Values: 76073
Column: V30, Unique Values: 8, Missing Values: 76073
Column: V31, Unique Values: 8, Missing Values: 76073
Column: V32, Unique Values: 15, Missing Values: 76073
Column: V33, Unique Values: 7, Missing Values: 76073
Column: V34, Unique Values: 13, Missing Values: 76073
Column: V35, Unique Values: 4, Missing Values: 168969
Column: V36, Unique Values: 6, Missing Values: 168969
Column: V37, Unique Values: 55, Missing Values: 168969
Column: V38, Unique Values: 55, Missing Values: 168969
Column: V39, Unique Values: 16, Missing Values: 168969
Column: V40, Unique Values: 18, Missing Values: 168969
Column: V41, Unique Values: 2, Missing Values: 168969
Column: V42, Unique Values: 9, Missing Values: 168969
Column: V43, Unique Values: 9, Missing Values: 168969
Column: V44, Unique Values: 49, Missing Values: 168969
Column: V45, Unique Values: 49, Missing Values: 168969
Column: V46, Unique Values: 7, Missing Values: 168969
Column: V47, Unique Values: 9, Missing Values: 168969
Column: V48, Unique Values: 6, Missing Values: 168969
Column: V49, Unique Values: 6, Missing Values: 168969
Column: V50, Unique Values: 6, Missing Values: 168969
Column: V51, Unique Values: 7, Missing Values: 168969
Column: V52, Unique Values: 9, Missing Values: 168969
Column: V53, Unique Values: 6, Missing Values: 77096
Column: V54, Unique Values: 7, Missing Values: 77096
Column: V55, Unique Values: 18, Missing Values: 77096
Column: V56, Unique Values: 52, Missing Values: 77096
Column: V57, Unique Values: 7, Missing Values: 77096
Column: V58, Unique Values: 11, Missing Values: 77096
Column: V59, Unique Values: 17, Missing Values: 77096
Column: V60, Unique Values: 17, Missing Values: 77096
Column: V61, Unique Values: 7, Missing Values: 77096
Column: V62, Unique Values: 11, Missing Values: 77096
Column: V63, Unique Values: 8, Missing Values: 77096
Column: V64, Unique Values: 8, Missing Values: 77096
Column: V65, Unique Values: 2, Missing Values: 77096
Column: V66, Unique Values: 8, Missing Values: 77096
Column: V67, Unique Values: 9, Missing Values: 77096
Column: V68, Unique Values: 3, Missing Values: 77096
Column: V69, Unique Values: 6, Missing Values: 77096
Column: V70, Unique Values: 7, Missing Values: 77096
Column: V71, Unique Values: 7, Missing Values: 77096
Column: V72, Unique Values: 11, Missing Values: 77096
Column: V73, Unique Values: 8, Missing Values: 77096
Column: V74, Unique Values: 9, Missing Values: 77096
Column: V75, Unique Values: 5, Missing Values: 89164
Column: V76, Unique Values: 7, Missing Values: 89164
Column: V77, Unique Values: 31, Missing Values: 89164
Column: V78, Unique Values: 32, Missing Values: 89164
Column: V79, Unique Values: 8, Missing Values: 89164
Column: V80, Unique Values: 20, Missing Values: 89164
Column: V81, Unique Values: 20, Missing Values: 89164
Column: V82, Unique Values: 8, Missing Values: 89164
Column: V83, Unique Values: 8, Missing Values: 89164
Column: V84, Unique Values: 8, Missing Values: 89164
Column: V85, Unique Values: 8, Missing Values: 89164
Column: V86, Unique Values: 31, Missing Values: 89164
Column: V87, Unique Values: 31, Missing Values: 89164
Column: V88, Unique Values: 2, Missing Values: 89164
Column: V89, Unique Values: 3, Missing Values: 89164
Column: V90, Unique Values: 6, Missing Values: 89164
Column: V91, Unique Values: 7, Missing Values: 89164
Column: V92, Unique Values: 8, Missing Values: 89164
Column: V93, Unique Values: 8, Missing Values: 89164
Column: V94, Unique Values: 3, Missing Values: 89164
Column: V95, Unique Values: 881, Missing Values: 314
Column: V96, Unique Values: 1410, Missing Values: 314
Column: V97, Unique Values: 976, Missing Values: 314
Column: V98, Unique Values: 13, Missing Values: 314
Column: V99, Unique Values: 89, Missing Values: 314
Column: V100, Unique Values: 29, Missing Values: 314
Column: V101, Unique Values: 870, Missing Values: 314
Column: V102, Unique Values: 1285, Missing Values: 314
Column: V103, Unique Values: 928, Missing Values: 314
Column: V104, Unique Values: 16, Missing Values: 314
Column: V105, Unique Values: 100, Missing Values: 314
Column: V106, Unique Values: 56, Missing Values: 314
Column: V107, Unique Values: 2, Missing Values: 314
Column: V108, Unique Values: 8, Missing Values: 314
Column: V109, Unique Values: 8, Missing Values: 314
Column: V110, Unique Values: 8, Missing Values: 314
Column: V111, Unique Values: 10, Missing Values: 314
Column: V112, Unique Values: 10, Missing Values: 314
Column: V113, Unique Values: 10, Missing Values: 314
Column: V114, Unique Values: 7, Missing Values: 314
Column: V115, Unique Values: 7, Missing Values: 314
Column: V116, Unique Values: 7, Missing Values: 314
Column: V117, Unique Values: 4, Missing Values: 314
Column: V118, Unique Values: 4, Missing Values: 314
Column: V119, Unique Values: 4, Missing Values: 314
Column: V120, Unique Values: 4, Missing Values: 314
Column: V121, Unique Values: 4, Missing Values: 314
Column: V122, Unique Values: 4, Missing Values: 314
Column: V123, Unique Values: 14, Missing Values: 314
Column: V124, Unique Values: 14, Missing Values: 314
Column: V125, Unique Values: 14, Missing Values: 314
Column: V126, Unique Values: 10299, Missing Values: 314
Column: V127, Unique Values: 24414, Missing Values: 314
Column: V128, Unique Values: 14507, Missing Values: 314
Column: V129, Unique Values: 1968, Missing Values: 314
Column: V130, Unique Values: 12332, Missing Values: 314
Column: V131, Unique Values: 4444, Missing Values: 314
Column: V132, Unique Values: 6560, Missing Values: 314
Column: V133, Unique Values: 9949, Missing Values: 314
Column: V134, Unique Values: 8178, Missing Values: 314
Column: V135, Unique Values: 3724, Missing Values: 314
Column: V136, Unique Values: 4852, Missing Values: 314
Column: V137, Unique Values: 4252, Missing Values: 314
Column: V138, Unique Values: 23, Missing Values: 508595
Column: V139, Unique Values: 34, Missing Values: 508595
Column: V140, Unique Values: 34, Missing Values: 508595
Column: V141, Unique Values: 6, Missing Values: 508595
Column: V142, Unique Values: 10, Missing Values: 508595
Column: V143, Unique Values: 870, Missing Values: 508589
Column: V144, Unique Values: 63, Missing Values: 508589
Column: V145, Unique Values: 260, Missing Values: 508589
Column: V146, Unique Values: 25, Missing Values: 508595
Column: V147, Unique Values: 27, Missing Values: 508595
Column: V148, Unique Values: 21, Missing Values: 508595
Column: V149, Unique Values: 21, Missing Values: 508595
Column: V150, Unique Values: 1996, Missing Values: 508589
Column: V151, Unique Values: 56, Missing Values: 508589
Column: V152, Unique Values: 39, Missing Values: 508589
Column: V153, Unique Values: 19, Missing Values: 508595
Column: V154, Unique Values: 19, Missing Values: 508595
Column: V155, Unique Values: 25, Missing Values: 508595
Column: V156, Unique Values: 25, Missing Values: 508595
Column: V157, Unique Values: 25, Missing Values: 508595
Column: V158, Unique Values: 25, Missing Values: 508595
Column: V159, Unique Values: 6663, Missing Values: 508589
Column: V160, Unique Values: 9621, Missing Values: 508589
Column: V161, Unique Values: 79, Missing Values: 508595
Column: V162, Unique Values: 185, Missing Values: 508595
Column: V163, Unique Values: 106, Missing Values: 508595
Column: V164, Unique Values: 1978, Missing Values: 508589
Column: V165, Unique Values: 2547, Missing Values: 508589
Column: V166, Unique Values: 987, Missing Values: 508589
Column: V167, Unique Values: 873, Missing Values: 450909
Column: V168, Unique Values: 965, Missing Values: 450909
Column: V169, Unique Values: 20, Missing Values: 450721
Column: V170, Unique Values: 49, Missing Values: 450721
Column: V171, Unique Values: 62, Missing Values: 450721
Column: V172, Unique Values: 32, Missing Values: 450909
Column: V173, Unique Values: 8, Missing Values: 450909
Column: V174, Unique Values: 9, Missing Values: 450721
Column: V175, Unique Values: 15, Missing Values: 450721
Column: V176, Unique Values: 49, Missing Values: 450909
Column: V177, Unique Values: 862, Missing Values: 450909
Column: V178, Unique Values: 1236, Missing Values: 450909
Column: V179, Unique Values: 921, Missing Values: 450909
Column: V180, Unique Values: 84, Missing Values: 450721
Column: V181, Unique Values: 25, Missing Values: 450909
Column: V182, Unique Values: 84, Missing Values: 450909
Column: V183, Unique Values: 42, Missing Values: 450909
Column: V184, Unique Values: 17, Missing Values: 450721
Column: V185, Unique Values: 32, Missing Values: 450721
Column: V186, Unique Values: 39, Missing Values: 450909
Column: V187, Unique Values: 215, Missing Values: 450909
Column: V188, Unique Values: 31, Missing Values: 450721
Column: V189, Unique Values: 31, Missing Values: 450721
Column: V190, Unique Values: 43, Missing Values: 450909
Column: V191, Unique Values: 22, Missing Values: 450909
Column: V192, Unique Values: 45, Missing Values: 450909
Column: V193, Unique Values: 38, Missing Values: 450909
Column: V194, Unique Values: 8, Missing Values: 450721
Column: V195, Unique Values: 17, Missing Values: 450721
Column: V196, Unique Values: 39, Missing Values: 450909
Column: V197, Unique Values: 15, Missing Values: 450721
Column: V198, Unique Values: 22, Missing Values: 450721
Column: V199, Unique Values: 46, Missing Values: 450909
Column: V200, Unique Values: 46, Missing Values: 450721
Column: V201, Unique Values: 56, Missing Values: 450721
Column: V202, Unique Values: 10970, Missing Values: 450909
Column: V203, Unique Values: 14951, Missing Values: 450909
Column: V204, Unique Values: 12858, Missing Values: 450909
Column: V205, Unique Values: 2240, Missing Values: 450909
Column: V206, Unique Values: 1780, Missing Values: 450909
Column: V207, Unique Values: 3246, Missing Values: 450909
Column: V208, Unique Values: 2552, Missing Values: 450721
Column: V209, Unique Values: 3451, Missing Values: 450721
Column: V210, Unique Values: 2836, Missing Values: 450721
Column: V211, Unique Values: 7624, Missing Values: 450909
Column: V212, Unique Values: 8868, Missing Values: 450909
Column: V213, Unique Values: 8317, Missing Values: 450909
Column: V214, Unique Values: 2282, Missing Values: 450909
Column: V215, Unique Values: 2747, Missing Values: 450909
Column: V216, Unique Values: 2532, Missing Values: 450909
Column: V217, Unique Values: 304, Missing Values: 460110
Column: V218, Unique Values: 401, Missing Values: 460110
Column: V219, Unique Values: 379, Missing Values: 460110
Column: V220, Unique Values: 26, Missing Values: 449124
Column: V221, Unique Values: 77, Missing Values: 449124
Column: V222, Unique Values: 76, Missing Values: 449124
Column: V223, Unique Values: 17, Missing Values: 460110
Column: V224, Unique Values: 79, Missing Values: 460110
Column: V225, Unique Values: 35, Missing Values: 460110
Column: V226, Unique Values: 81, Missing Values: 460110
Column: V227, Unique Values: 50, Missing Values: 449124
Column: V228, Unique Values: 55, Missing Values: 460110
Column: V229, Unique Values: 91, Missing Values: 460110
Column: V230, Unique Values: 66, Missing Values: 460110
Column: V231, Unique Values: 294, Missing Values: 460110
Column: V232, Unique Values: 338, Missing Values: 460110
Column: V233, Unique Values: 333, Missing Values: 460110
Column: V234, Unique Values: 122, Missing Values: 449124
Column: V235, Unique Values: 24, Missing Values: 460110
Column: V236, Unique Values: 46, Missing Values: 460110
Column: V237, Unique Values: 40, Missing Values: 460110
Column: V238, Unique Values: 24, Missing Values: 449124
Column: V239, Unique Values: 24, Missing Values: 449124
Column: V240, Unique Values: 6, Missing Values: 460110
Column: V241, Unique Values: 5, Missing Values: 460110
Column: V242, Unique Values: 21, Missing Values: 460110
Column: V243, Unique Values: 43, Missing Values: 460110
Column: V244, Unique Values: 23, Missing Values: 460110
Column: V245, Unique Values: 58, Missing Values: 449124
Column: V246, Unique Values: 46, Missing Values: 460110
Column: V247, Unique Values: 19, Missing Values: 460110
Column: V248, Unique Values: 23, Missing Values: 460110
Column: V249, Unique Values: 23, Missing Values: 460110
Column: V250, Unique Values: 19, Missing Values: 449124
Column: V251, Unique Values: 19, Missing Values: 449124
Column: V252, Unique Values: 25, Missing Values: 460110
Column: V253, Unique Values: 66, Missing Values: 460110
Column: V254, Unique Values: 45, Missing Values: 460110
Column: V255, Unique Values: 46, Missing Values: 449124
Column: V256, Unique Values: 48, Missing Values: 449124
Column: V257, Unique Values: 49, Missing Values: 460110
Column: V258, Unique Values: 67, Missing Values: 460110
Column: V259, Unique Values: 68, Missing Values: 449124
Column: V260, Unique Values: 9, Missing Values: 460110
Column: V261, Unique Values: 41, Missing Values: 460110
Column: V262, Unique Values: 21, Missing Values: 460110
Column: V263, Unique Values: 10422, Missing Values: 460110
Column: V264, Unique Values: 13358, Missing Values: 460110
Column: V265, Unique Values: 11757, Missing Values: 460110
Column: V266, Unique Values: 2178, Missing Values: 460110
Column: V267, Unique Values: 3616, Missing Values: 460110
Column: V268, Unique Values: 2756, Missing Values: 460110
Column: V269, Unique Values: 151, Missing Values: 460110
Column: V270, Unique Values: 2340, Missing Values: 449124
Column: V271, Unique Values: 2787, Missing Values: 449124
Column: V272, Unique Values: 2507, Missing Values: 449124
Column: V273, Unique Values: 7177, Missing Values: 460110
Column: V274, Unique Values: 8315, Missing Values: 460110
Column: V275, Unique Values: 7776, Missing Values: 460110
Column: V276, Unique Values: 2263, Missing Values: 460110
Column: V277, Unique Values: 2540, Missing Values: 460110
Column: V278, Unique Values: 2398, Missing Values: 460110
Column: V279, Unique Values: 881, Missing Values: 12
Column: V280, Unique Values: 975, Missing Values: 12
Column: V281, Unique Values: 23, Missing Values: 1269
Column: V282, Unique Values: 33, Missing Values: 1269
Column: V283, Unique Values: 62, Missing Values: 1269
Column: V284, Unique Values: 13, Missing Values: 12
Column: V285, Unique Values: 96, Missing Values: 12
Column: V286, Unique Values: 9, Missing Values: 12
Column: V287, Unique Values: 32, Missing Values: 12
Column: V288, Unique Values: 11, Missing Values: 1269
Column: V289, Unique Values: 13, Missing Values: 1269
Column: V290, Unique Values: 58, Missing Values: 12
Column: V291, Unique Values: 219, Missing Values: 12
Column: V292, Unique Values: 173, Missing Values: 12
Column: V293, Unique Values: 870, Missing Values: 12
Column: V294, Unique Values: 1286, Missing Values: 12
Column: V295, Unique Values: 928, Missing Values: 12
Column: V296, Unique Values: 94, Missing Values: 1269
Column: V297, Unique Values: 13, Missing Values: 12
Column: V298, Unique Values: 94, Missing Values: 12
Column: V299, Unique Values: 50, Missing Values: 12
Column: V300, Unique Values: 12, Missing Values: 1269
Column: V301, Unique Values: 14, Missing Values: 1269
Column: V302, Unique Values: 17, Missing Values: 12
Column: V303, Unique Values: 21, Missing Values: 12
Column: V304, Unique Values: 17, Missing Values: 12
Column: V305, Unique Values: 2, Missing Values: 12
Column: V306, Unique Values: 16210, Missing Values: 12
Column: V307, Unique Values: 37367, Missing Values: 12
Column: V308, Unique Values: 23064, Missing Values: 12
Column: V309, Unique Values: 4236, Missing Values: 12
Column: V310, Unique Values: 19136, Missing Values: 12
Column: V311, Unique Values: 3098, Missing Values: 12
Column: V312, Unique Values: 8068, Missing Values: 12
Column: V313, Unique Values: 5529, Missing Values: 1269
Column: V314, Unique Values: 11377, Missing Values: 1269
Column: V315, Unique Values: 6973, Missing Values: 1269
Column: V316, Unique Values: 9814, Missing Values: 12
Column: V317, Unique Values: 15184, Missing Values: 12
Column: V318, Unique Values: 12309, Missing Values: 12
Column: V319, Unique Values: 4799, Missing Values: 12
Column: V320, Unique Values: 6439, Missing Values: 12
Column: V321, Unique Values: 5560, Missing Values: 12
Column: V322, Unique Values: 881, Missing Values: 508189
Column: V323, Unique Values: 1411, Missing Values: 508189
Column: V324, Unique Values: 976, Missing Values: 508189
Column: V325, Unique Values: 13, Missing Values: 508189
Column: V326, Unique Values: 45, Missing Values: 508189
Column: V327, Unique Values: 19, Missing Values: 508189
Column: V328, Unique Values: 16, Missing Values: 508189